.homepageTeaser {
  background-color: $color_background_inverse;
  color: $color_font_inverse;
  padding:2em 0;
  margin-bottom: 1em;

  h1 {
    color: $color_font_inverse_light;
    margin-bottom: 6rem;
    font-size: 2.5em;
    @media (min-width: 400px) {
      font-size: 3.5em;
    }
    /* Larger than phablet (also point when grid becomes active) */
    @media (min-width: 550px) {
      font-size: 4.5em;
    }
    /* Larger than tablet */
    @media (min-width: 750px) {
      font-size: 5.5em;
    }
  }
}
