<head>
  <meta charset="utf-8">
  <title>{{ page.title  | escape  }} - {{ site.title | escape }}</title>
  {% if page.description %}
    <meta name="description" content="{{ page.description  | escape }}">
  {% endif %}

  <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
  <meta name="theme-color" content="#000000"/>

  <link rel="icon" href="/assets/favicon-192x192.png" sizes="192x192">
  <link rel="icon" href="/assets/favicon-64x64.png" sizes="64x64">
  <link rel="icon" href="/assets/favicon-32x32.png" sizes="32x32">
  <link rel="alternate" type="application/rss+xml" title="Techgenossen Blog" href="/feed.xml" />

  {% include inline_styles.html %}
</head>
