$color_primary: #FF4B3E;
$color_primary_hover: #972D07;
$color_font: #222;
$color_font_dark: #000;
$color_font_inverse: #cccccc;
$color_font_inverse_light: #ffffff;
$color_background: #ffffff;
$color_background_inverse: #972D07;
$color_border: #efefef;
$font_text: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
$font_decoration: "Century Gothic", CenturyGothic, Futura, sans-serif;

@import "zaunkoenig/customn-variables";

@import "zaunkoenig/normalize";
@import "zaunkoenig/skeleton";
@import "zaunkoenig/base";
@import "zaunkoenig/header";
@import "zaunkoenig/image";

@import "zaunkoenig/customn-styles";
